Source: pete
Section: unknown
Priority: extra
Maintainer: Jonas Finnemann Jensen <jopsen@gmail.com>
Build-Depends: libqt4-dev (>= 4.7), qt4-dev-tools (>= 4.7), build-essential (>= 11.5), libunittest++-dev (>= 1.4), debhelper (>= 7.0.50~), qt4-designer (>= 4.7)
Standards-Version: 3.8.4
Homepage: https://github.com/jopsen/PeTe
Vcs-Git: git://github.com/jopsen/PeTe.git


Package: pete
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Petri Engine exTremE
 A cross-platform Petri Net editor and verification engine.
